.hist-chart
  display flex
  flex-direction row
  align-items flex-end
  justify-content: center

  .group
    display flex
    flex-direction column
    margin 0 0.5rem
    align-items center

    .block
      width 20px
      height 20px
      background-color $primary
      margin 0.1rem

    text
      font-family Atlas Grotesk Web, sans-serif
      padding-top 0.25rem
      margin-top 0.25rem
